PORT = 9999
URL_MONGODB=mongodb://localhost:27017/hair_mg
JWT_SECRET=fgoiniobnfoibnroin
SECRET_KEY=nfdiubuivbiuv

EMAIL_USER=minhhoangtrong1002@gmail.com
EMAIL_PASSWORD=ozcb nsbj jnsv ovlz

REDIS_HOST=host
EXPERIRES_IN=2000m
SALT_ROUNDS=10

CLOUDINARY_CLOUD_NAME=dmhntw9ej
CLOUDINARY_API_KEY=565637323853231
CLOUDINARY_API_SECRET=J9JybsYJQ09v2i9dqsv1RWPKua0

HOST_MAILER=smtp.gmail.com
PORT_MAILER=465
SECURE_MAILER=true
CONNECT_SOCKET_PORT=4001

// sql
HOST_SQL=localhost
PORT_SQL=3306
USERNAME_SQL=root
PASSWORD_SQL=root
DATABASE=test

//
# LIGHTX_API_KEY=14ecfca9b46d4aea8163bfaa0c9490df_e92f6a3e1bf94fbb817b8ea222c6f64f_andoraitools
#LIGHTX_API_KEY=9b2d226d8a1e4edc8f8030ea96190cbb_165433baa5ce4f859d644e439a280405_andoraitools

LIGHTX_API_KEY=3a259ccda9bf4b7690a8f8004494a5a2_4509150eabac4e9088cea673a5df87b8_andoraitools


