PORT = 1000
URL_MONGODB=mongodb://localhost:27017/eComm
JWT_SECRET=fgoiniobnfoibnroin
SECRET_KEY=nfdiubuivbiuv
EMAIL_USER=minhhoangtrong1002@gmail.com
EMAIL_PASSWORD=ozcb nsbj jnsv ovlz
REDIS_HOST=host
EXPERIRES_IN=2000m
SALT_ROUNDS=10
CLOUDINARY_CLOUD_NAME=dmhntw9ej
CLOUDINARY_API_KEY=565637323853231
CLOUDINARY_API_SECRET=J9JybsYJQ09v2i9dqsv1RWPKua0
HOST_MAILER=smtp.gmail.com
PORT_MAILER=465
SECURE_MAILER=true
CONNECT_SOCKET_PORT=4001

// sql
HOST_SQL=localhost
PORT_SQL=3306
USERNAME_SQL=root
PASSWORD_SQL=root
DATABASE=test



